/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/* main body styles */
body {
  /* nice dark gradient */
  @apply bg-gradient-to-br from-gray-900 to-indigo-950 text-gray-100 antialiased;
  font-family: 'Inter', 'sans-serif';
}